
<table border="1">
  <tr>
    <th colspan="2">Estadíticas:</th>
  </tr>
  <tr>
    <td>El número de preguntas</td>
    <td><%=statistics.numQuiz%></td>
  </tr>
    <td>El número de comentarios totales</td>
    <td><%=statistics.countPublished%></td>
  </tr>
    <td>El número medio de comentarios por pregunta</td>
    <td><%=statistics.quizesCommented%></td>
  </tr>
    <td>El número de preguntas sin comentarios</td>
    <td><%=statistics.quizesUnCommented%></td>
  </tr>
    <td>El número de preguntas con comentarios</td>
    <td><%=statistics.averageComments%></td>
  </tr>
</table>
